body{
  background-color: #7b241c;
}

i{
  color: black;
  font-size: 25px;
  }

.social-bar i{
  color: white;
}
.nav{
  background-color: #EB984E;
}
a{
  color: black;
}

.fa-facebook{
  background-color: blue;
  border-radius: 1rem 0 0 1rem;
}
.fa-youtube{
  background-color: #c0392b;

}
.fa-instagram{
  background-color: #5dade2;
}
.fa-pinterest{
  background-color: #cb4335;
}
.fa-twitter{
  background-color: #2e86c1;
  border-radius: 0 1rem 1rem 0;
}
